@import './../../app/styles/_variables.scss';
.item {
  border-bottom: 1px solid $main-bg-color;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  &:last-child {
    border-bottom: none;
  }

  
  .status {
    color: #c4e0d9;
    outline: 1px solid $transparent-text-color;
    border-radius: 100%;
    font-size: '26px';
    rotate: '-10deg';
  }

  .nstatus {
    width: 24px;
    height: 24px;
    outline: 1px solid $transparent-text-color;
    border-radius: 100%;
  }

  .task__name {
    margin-left: 25px;
    cursor: pointer;
    color: $text-color;
  }
  
  .task__name__strikethrough {
    text-decoration-line: line-through;
    text-decoration-style: solid;
    color: $transparent-text-color;
  }
}