@import './../../app/styles/_variables.scss';

.filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: $white-color;
  padding: 10px;

  button {
    font-size: 14px;
    color: $light-gray;
    border: 1px solid transparent;
    border-radius: 3px; 
    padding: 5px;  
    &:hover {
      border: 1px solid $light-gray;
    }
  }

  .by__state button {
    margin-right: 15px;
    
    &:last-child {
      margin-right: 0;
    }
  }

  div {
    display: inherit;
  }
}